<h1>Lista de <%= collection_label %></h1>

<table cellspacing="0">
  <tr>
  <%- for column in index_columns %>
    <th><%= model.human_attribute_name column %></th>
  <%- end %>
  </tr>

  <%- collection.each_with_index do |object, index| %>
    <tr <%= "class='odd'" if index.odd? -%>>
      <%- for column in index_columns -%>        
        <td><%= show_column column, object %></td>
      <%- end -%>

      <td><%=link_to 'Exibir', object_url(object), :class => 'show' %></td>
      <td><%=link_to 'Editar', edit_object_url(object), :class => 'edit' %></td>
      <td><%=link_to 'Apagar', object_url(object), :confirm => 'Tem certeza disso?', :method => :delete, :class => 'destroy' %></td>
    </tr>
  <%- end %>
  
  <%- if collection.empty? %>
  <tfoot>
    <tr>
      <td colspan="<%= index_columns.size %>">Nenhum registro encontrado.</td>
    </tr>
  </tfoot>
  <%- end %>
</table>

<p>
  <%= link_to "Adicionar #{object_label}", new_object_url, :class => 'new' %>
</p>

