<h1>Adicionar <%= object_label %></h1>

<%= error_messages_for model_name %>

<% form_for(model_name, :url => collection_url) do |f| %>
  <%= render :partial => (template_exists?('_form') ? 'form' : 'scaffold/form'), 
             :locals => { :f => f } %>
  <p>
    <%= submit_tag "Criar", :class => 'create' %>
  </p>
<% end %>

<p>
  <%= link_to 'Voltar', collection_url, :class => 'back' %>
</p>
