<h1><%= resource_class.human_name %> Details</h1>

<dl>
<%- for field in show_fields -%>
  <dt>
    <%= resource_class.human_attribute_name field %>
  </dt>
  <dd>
    <%= show_field field, resource %>
  </dd>
<%- end -%>
</dl>

<p>
<%= link_to 'Edit', edit_resource_url %>
|
<%= link_to 'Back', collection_url %>
</p>
