<div class="block">
  <div class="secondary-navigation">
    <ul>
      <li class="first active"><%= link_to 'List', collection_url %></li>
      <li><%= link_to 'New', new_resource_url %></li>
    </ul>
    <div class="clear"></div>
  </div>          
  <div class="content">          
    <h2 class="title">All <%= resource_class.human_name.pluralize %></h2>
    <div class="inner">
      <table class="table">
        <thead>
          <tr> 
          <%- for field in index_fields %>
            <% style = 'first' if field == index_fields.first %>
            <% style = 'last'  if field == index_fields.last %>
            <th class="<%= style ||= 'middle' %>"><%= resource_class.human_attribute_name field %></th>
          <%- end %>
          </tr>
        </thead>

        <% collection.each do |resource| -%>
        <tbody>
        <tr class="<%= cycle("odd", "even") %>">
          <%- for field in index_fields -%>        
            <td><%= display_field field, resource %></td>
          <%- end -%>
      
          <td class="last">
            <%=link_to 'Show', resource_url(resource), :class => 'show' %> |
            <%=link_to 'Edit', edit_resource_url(resource), :class => 'edit' %> |
            <%=link_to 'Delete', resource_url(resource), :confirm => 'Are you sure?', :method => :delete, :class => 'destroy' %>
          </td>
        </tr>
        </tbody>
        <% end -%>

        <%- if collection.empty? %>
        <tfoot>
          <tr>
            <td colspan="<%= index_fields.size %>">No record found.</td>
          </tr>
        </tfoot>
        <%- end %>
      </table>

      <div class="actions-bar">
        <div class="actions">
        </div>
        <% if respond_to? :will_paginate %>
          <%= will_paginate collection %> 
        <% end %>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>

