<h1>Editing <%= resource_class.human_name %></h1>

<%= error_messages_for :object => resource %>

<% form_for(resource, :url => resource_url, :html => { :method => :put }) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>

  <p>
    <%= submit_tag "Update", :class => 'update' %>
  </p>
<% end %>

<p>
  <%= link_to 'Show', resource_url, :class => 'show' %> |
  <%= link_to 'Back', collection_url, :class => 'back' %>
</p>
