<h1>Editing <%= model.human_name %></h1>

<%= error_messages_for model_name %>

<% form_for(model_name, :url => object_url, :html => { :method => :put }) do |f| %>
  <% begin %>
    <%= render :partial => 'form', :locals => { :f => f } %>
  <% rescue %>
    <%= render :partial => 'scaffold/form', :locals => { :f => f } %>
  <% end %>

  <p>
    <%= submit_tag "Update", :class => 'update' %>
  </p>
<% end %>

<p>
  <%= link_to 'Show', object_url, :class => 'show' %> |
  <%= link_to 'Back', collection_url, :class => 'back' %>
</p>
