<h1>Detalhes do <%= object_label %></h1>

<dl>
<%- for column in show_columns -%>
  <dt>
    <%= model.human_attribute_name column %>
  </dt>
  <dd>
    <%= show_column column, object %>
  </dd>
<%- end -%>
</dl>

<p>
<%= link_to 'Edit', edit_object_url %>
|
<%= link_to 'Back', collection_url %>
</p>
